.body{
 min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 300;
}
.container{
width:300px;
background: linear-gradient(to right, #f5f7fa, #c3cfe2);
padding: 5px;
border-radius: 10px;
}
.input{
  width: 90%;
   height: 25px;
   border-radius: 5px;
   outline: none;
    border: none; 
    cursor: pointer;
}
.text{
  text-align: center;
}
.common{
  margin: 5px;
  padding-left:20px ;
}
.title{
  color: orchid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: x-large;
  text-align: center;
  margin: 5px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
   margin-bottom: 5px;   
}
.newbutton{
 background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
      transition: all 0.3s ease;
      border: none;
    width: 35%; 
    font-size:large;
}
